@import 'tailwindcss';

@layer base {
	::placeholder {
		opacity: 0.5;
	}

	pre {
		font-size: 12px;
		tab-size: 2;

		&::before {
			content: '';
			position: fixed;
			inset: 0;
			z-index: -1;
			background-color: inherit;
		}

		:not(.hide-line-nums) > & code {
			counter-reset: line;
			counter-increment: line 0;

			.line::before {
				content: counter(line);
				counter-increment: line;
				width: var(--line-num-width);
				margin-right: 2ch;
				display: inline-block;
				text-align: right;
				opacity: 0.25;
			}
		}

		code .highlight {
			@apply relative *:relative *:z-[1];

			&:not(:empty)::after {
				content: '';
				position: absolute;
				inset: -1px -1ch;
				z-index: 0;
				@apply anim-fade rounded-r-[.25em] border-l-4 border-green-400 bg-green-400/20;
			}
		}
	}

	button {
		cursor: pointer;
		color: inherit;
	}

	select {
		-webkit-appearance: none;
		cursor: pointer;
	}
}

@layer components {
	.button {
		padding: 0;
		border: none;
		background-color: transparent;
	}

	.input {
		outline: none;
		border: none;
		border-radius: 0;
		background: none;
		padding: 0.2em 0;

		@apply border-b border-neutral-300 group-hover:border-black/30 invalid:border-red-500! required:invalid:border-red-500! focus:border-current!;

		label:hover & {
			@apply border-neutral-400;
		}
	}

	.with-icon {
		display: inline-flex;
		align-items: center;
		gap: 0.5ch;

		& svg {
			flex-shrink: 0;
		}
	}
}

/* animations */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--default-transition-duration) ease-in-out
		forwards;
}
@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}
@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}
@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}
@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}
}
