@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	pre {
		font-size: 12px;
		tab-size: 2;

		&::before {
			content: '';
			position: fixed;
			inset: 0;
			z-index: -1;
			background-color: inherit;
		}

		code {
			counter-reset: line;
			counter-increment: line 0;

			.line::before {
				content: counter(line);
				counter-increment: line;
				width: var(--line-num-width);
				margin-right: 2ch;
				display: inline-block;
				text-align: right;
				opacity: 0.25;
			}
		}
	}
}

@layer components {
	.with-icon {
		display: inline-flex;
		align-items: center;
		gap: 0.5em;
	}
}
