@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	pre {
		font-size: 12px;
		tab-size: 2;

		&::before {
			content: '';
			position: fixed;
			inset: 0;
			z-index: -1;
			background-color: inherit;
		}

		:not(.hide-line-nums) > & code {
			counter-reset: line;
			counter-increment: line 0;

			.line::before {
				content: counter(line);
				counter-increment: line;
				width: var(--line-num-width);
				margin-right: 2ch;
				display: inline-block;
				text-align: right;
				opacity: 0.25;
			}
		}
	}

	select {
		-webkit-appearance: none;
		cursor: pointer;
	}
}

@layer components {
	.input {
		outline: none;
		border-radius: 0;
		background: none;
		padding: 0.2em 0;

		@apply border-b invalid:!border-red-500 focus:border-current group-hover:border-black/30;
	}

	.with-icon {
		display: inline-flex;
		align-items: center;
		gap: 0.5ch;

		& svg {
			flex-shrink: 0;
		}
	}
}
